In [1]:
a = 5
for b in range(6):
    for c in range(b):
     print('*', end=' ')
    print('')

for b in range(a - 1, 0, -1):
    for c in range(b):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
user_input = input().strip()
Alphabets = ('a', 'e', 'i', 'o', 'u')

if user_input in Alphabets:
    print("This is a vowel")

else:
    print("This is a consonent")

 e

This is a vowel

In [3]:
table = int(input("Enter any number:"))
for x in range(1,11):
  print(table,'x',x,'=',x * table)

Enter any number: 8

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [4]:
my_students = [
    {"student_id": 1, "name": "Ameer", "height": "5.7", "weight": "74"},
    {"student_id": 2, "name": "ghareeb", "height": "6", "weight": "64"},
    {"student_id": 3, "name": "middle class", "height": "6.7", "weight": "70"},
    ]

my_students

[{'student_id': 1, 'name': 'Ameer', 'height': '5.7', 'weight': '74'},
 {'student_id': 2, 'name': 'ghareeb', 'height': '6', 'weight': '64'},
 {'student_id': 3, 'name': 'middle class', 'height': '6.7', 'weight': '70'}]

In [5]:
students_sqft = []

for students in my_students:
    print(students)

{'student_id': 1, 'name': 'Ameer', 'height': '5.7', 'weight': '74'}
{'student_id': 2, 'name': 'ghareeb', 'height': '6', 'weight': '64'}
{'student_id': 3, 'name': 'middle class', 'height': '6.7', 'weight': '70'}

In [6]:
students_sqft = [students['student_id'] for students in my_students \
                 if students['height'] == '6ft' and students['weight'] == "64" ]
students_sqft

[]

In [7]:
students_sqft = [students['student_id'] for students in my_students \
                 if students['height'] == '6ft' and students['weight'] == "64" ]
students_sqft

[]

In [22]:
def test(dictionary):
    for key in dictionary:
        dictionary[key].clear()
    return dictionary

dictionary = { 
    'C1': [10, 20, 30], 
    'C2': [20, 30, 40],
    'C3': [12, 34]
}

print("\nDictionary:")
print(dictionary)

print("\nCleared dictionary:")

print(test(dictionary))

Dictionary:
{'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}

Cleared dictionary:
{'C1': [], 'C2': [], 'C3': []}

In [11]:
rivers = {
    "Amazon":"Brazil",
    "Indus":"Pakistan",
    "Nile":"Egypt",
    "Parana":"Uruguay",
    "Amur":"Russia"
}

for river,country in rivers.items():
    print("The " + river.title() + " flows through " + country.title() + ".")

print("\nRivers in Data:")
for river in rivers.keys():
    print(river.title())

print("\nCountries in Data:")
for country in rivers.values():
    print(country.title())

The Amazon flows through Brazil.
The Indus flows through Pakistan.
The Nile flows through Egypt.
The Parana flows through Uruguay.
The Amur flows through Russia.

Rivers in Data:
Amazon
Indus
Nile
Parana
Amur

Countries in Data:
Brazil
Pakistan
Egypt
Uruguay
Russia

In [ ]:
age = input("Enter your age") 

while True:
    if age == 'quit':
        break
    age = int(age)

    if age < 3:
        print(" You get in free!")
    elif 3 < age < 12:
        print(" Your ticket is $10.")
    else:
        print("Your ticket is $15.")